<div class="blog-card anim-newSing anim-newSing--transform">
    <a href="" class="blog-card__img _scale-img">
        <img src="img/@@img.webp" alt="">
    </a>
    <div class="blog-card__content">
        <div class="blog-card__top">
            <div class="blog-card__time">
                <div class="blog-card__day">
                    @@day
                </div>
                <div class="blog-card__date text13 gray-text2 caps-text">
                    @@date
                </div>
            </div>
            <div class="blog-card__title text18 text17-tablet medium-text">
                <a href="">
                    @@title
                </a>
            </div>
        </div>
        <div class="blog-card__bottom">
            <div class="blog-card__nav _flex">
                <a href="" class="blog-card__link">
                    <img src="img/arrow-right.svg" alt="">
                </a>
            </div>
            <div class="blog-card__desc m-title text14 gray-text2">
                @@desc
            </div>
        </div>
    </div>
</div>
