<a href="" class="project-card anim-newSing anim-newSing--transform">
    @@if(badge !== ""){
    <div class="project-card__badge font2">
        <span class="text14-tablet">@@badge</span>
    </div>
    }
    <div class="project-card__img _scale-img">
        <img src="img/@@img.webp" alt="">
    </div>
    <div class="project-card__text _mt24 _mt18-tablet">
        <div class="project-card__title m-title">
            @@title
        </div>
        <div class="project-card__desc m-title">
            @@desc
        </div>
    </div>
</a>
