<div id="map" class="map"></div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=9133eb49-3a97-4b2d-90be-6b80a97a5036"></script>
<script>
    ymaps.ready(initMap);

    function initMap() {
        var coords = [55.765721, 37.525378]; // широта, долгота

        var map = new ymaps.Map('map', {
            center: coords,
            zoom: 16,
            controls: ['zoomControl', 'fullscreenControl']
        });

        map.behaviors.disable('scrollZoom');

        var placemark = new ymaps.Placemark(coords, {
            balloonContentHeader: 'Конструктор Групп',
            balloonContentBody: 'Проекты премиум класса'
        }, {
            preset: 'islands#blueCircleDotIcon'
        });

        map.geoObjects.add(placemark);
    }
</script>
